@import "../../variables.scss";

.aside {
  grid-area: aside;
  justify-content: center;
  align-items: stretch;
  background: #cccccc;

  .aside__items li {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    font-family: fontSections;
    font-size: 1rem;

    .aside__items--img {
      order: 1;
      margin-right: 1rem;
      width: auto;
      height: 150px;
    }
    h3::after {
      content: " ultima noticia";
      color: red;
      background-color: #ffba10;
      border-color: red;
      border-style: dotted;
    }
  }
}
