.aside {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
  background: red;
  overflow: hidden;
  padding: 30px;
}
.items li {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}
.aside-img {
  order: 1;
  margin-right: 1rem;
  width: auto;
  height: 120px;
}
