.Home {
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px 8px 8px 8px;
  overflow: hidden;
  height: 460px;
}

.Home__header {
  padding: 0.5rem 0;
  height: 120px;
  background: #e6bd4d;
  display: flex;
  justify-content: center;
  font-style: italic;
}

.Home__section-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.Home__section-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  background: #f4f4f7;
}

.Home__avatar {
  border-radius: 50%;
  margin-right: 1rem;
  width: 120px;
  height: 120px;
}

.Home__footer {
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0ac46;
  font-weight: bold;
  font-style: oblique;
}
