.container {
}
.container-main {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.container-main > div {
  width: 50%;
  padding: 5px;
}

.container-main > div:first-child {
  margin-right: 5px;
}

.Home__section-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  background: #f4f4f7;
}

.Home__footer {
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0ac46;
  font-weight: bold;
  font-style: oblique;
}
